// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.bg-main {
    background-color: $primary-color !important;
}

.navbar-primary {
    background-color: $primary-color;
}

.navbar-primary .navbar-brand,
.navbar-primary .navbar-text {
    color: $text-secondary-color;
}

.navbar-primary .navbar-nav .nav-link {
    color: $text-secondary-color;
}

$nav-hover: darken($text-secondary-color, 50%);
.navbar-primary .nav-item.active .nav-link,
.navbar-primary .nav-item:hover .nav-link {
    color: $nav-hover;
}

#app {
    height: 100%;
}

html {
    height: 100%;
    overflow: hidden;
}

a, a:visited {
    color: $text-secondary-color
}

a:hover {
    color: azure;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:visited {
    background-color: #2A00A2 !important;
}

.btn-secondary:hover {
    background-color: #BF00AC !important;
}

.py-4 {
    height: 100%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.login {
    top: 100px;
}

.text-secondary {
    color: whitesmoke;
}

.text-secondary-bold {
    font-weight: bolder;
    color: $text-secondary-color;
}

.footer {
    background-color: $primary-color;
    height: 60px;
    position: fixed;
    bottom: 0;
    z-index: 0;
}